:root {
    --color_1: #FAFAFF;
    --color_2: #EEF0F2;
    --color_3: #ECEBE4;
    --color_4: #DADDD8;
    --color_5: #1C1C1C;
    --color_6: #5c7aff;
    --color_7: #faf9f9;
}

.Video_card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_4);
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.Video_card_rentangle {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -30px;
    border: 0.3rem solid black;
    background-color: var(--color_7);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.Video_card_rentangle h2 {
    left: 10px;
    top: 10px;
    position: absolute;
}

.Video_card_rentangle_videos {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1.5rem;
    box-sizing: content-box;
}

@media ( width < 500px ){
    .Video_card_rentangle h2 {
        left: 10px;
        top: 10px;
        position: absolute;
        font-size: 1.2rem;
    }
}