:root {
    --color_1: #FAFAFF;
    --color_2: #EEF0F2;
    --color_3: #ECEBE4;
    --color_4: #DADDD8;
    --color_5: #1C1C1C;
    --color_6: #5c7aff;
    --color_7: #faf9f9;
}


.Home {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_7);
    position: relative;
    top: 6rem;
}

.Home_introduction {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (width < 820px) {
    .Home_introduction {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.Home_introduction::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -58px;
    border-top: 30px solid var(--color_7);
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    left: calc(50% - 30px);
}

.Home_introduction h1 {
    text-align: center;
    font-size: 3rem;
}

.HHome_introduction h2 {
    text-align: center;
    font-size: 1.5rem;
}


@media (400px <=width < 620px) {
    .Home_introduction h1 {
        text-align: center;
        font-size: 2rem;
    }

    .Home_introduction h2 {
        text-align: center;
        font-size: 1rem;
    }
}

@media (250px <=width < 400px) {
    .Home_introduction h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .Home_introduction h2 {
        text-align: center;
        font-size: 0.8rem;
    }
}

@media (width < 250px) {
    .Home_introduction h1 {
        text-align: center;
        font-size: 1.1rem;
    }

    .Home_introduction h2 {
        text-align: center;
        font-size: 0.6rem;
    }
}